@font-face {
    font-family: Curely-Free-Typeface;
    src: url(fonts/Curely-Free-Typeface.ttf);
}

* {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#4fd7ff), to(#ffe099)) fixed;
    margin-top: 140px;
    overflow-x: hidden;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 20px;
}

.adsbygoogle {
    margin-left: 20px;
    margin-right: 20px;
}

.blockWindow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 2500;
}

.blockWindow h1 {
    color: #fff;
    font-size: 5em;
    margin-top: 100px;
    margin-left: 100px;
}

.bg-dark {
	background: #0e6b98 !important
}

.sky {
	position: absolute;
    width: 100%;
    top: 245px;
}

.title {
	font-family: Curely-Free-Typeface;
    position: absolute;
    top: 300px;
    font-size: 10em;
    color: #1183c7;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.titlePage {
    font-family: Curely-Free-Typeface;
    font-size: 4em;
    margin-top: 30px;
    text-decoration: underline;
    color: darkgray;
}

#geral {
	min-height: 400px;
    background: #fff;
    margin-top: 500px;
    border-radius: 10px;
    margin-bottom: 50px;
}

#geral h2 {
	margin: 40px 20px 10px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    color: #ff8e2a;
}

#geral h3 {
    font-size: 1.1em;
    color: #a0a0a0;
    margin: -5px 20px 20px;
    font-weight: normal;
}
#geral p {
	font-size: 1.6em;
    font-weight: 200;
    margin-left: 20px;
    margin-right: 20px;
}

#geral p a.btn {
	color: #fff;
}

.subtitle {
	top: 455px;
    position: absolute;
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    z-index: 10;
}

.bird {
	position: absolute;
    top: 210px;
    left: 50%;
    margin-left: -64px;
    z-index: 8;
    filter: brightness(110%);
}

.cloud {
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
  	position: relative;
  	margin: 10px 0 0 0;
  	width: 54px;
  	height: 5px;
  	background: #f7e7eb;
  	-webkit-animation: clouds 50s infinite linear;
  	-moz-animation: clouds 50s infinite linear;
  	-ms-animation: clouds 50s infinite linear;
  	-o-animation: clouds 50s infinite linear;
  	animation: clouds 50s infinite linear;
}
.cloud.tiny {
  	-moz-transform: scale(0.5, 0.5);
  	-ms-transform: scale(0.5, 0.5);
  	-webkit-transform: scale(0.5, 0.5);
  	transform: scale(0.5, 0.5);
  	-webkit-animation-duration: 400s;
  	-moz-animation-duration: 400s;
  	-ms-animation-duration: 400s;
  	-o-animation-duration: 400s;
  	animation-duration: 400s;
  	opacity: 0.6;
    z-index: 6;
}
.cloud.small {
  	-moz-transform: scale(1, 1);
  	-ms-transform: scale(1, 1);
  	-webkit-transform: scale(1, 1);
  	transform: scale(1, 1);
  	-webkit-animation-duration: 300s;
  	-moz-animation-duration: 300s;
  	-ms-animation-duration: 300s;
  	-o-animation-duration: 300s;
  	animation-duration: 300s;
  	opacity: 0.8;
    z-index: 7;
}
.cloud.normal {
  	-moz-transform: scale(4, 4);
 	-ms-transform: scale(4, 4);
 	-webkit-transform: scale(4, 4);
 	transform: scale(4, 4);
 	-webkit-animation-duration: 150s;
 	-moz-animation-duration: 150s;
 	-ms-animation-duration: 150s;
 	-o-animation-duration: 150s;
 	animation-duration: 150s;
 	opacity: 0.9; 
    z-index: 8;
}
.cloud.large {
  	-moz-transform: scale(6, 6);
  	-ms-transform: scale(6, 6);
  	-webkit-transform: scale(6, 6);
  	transform: scale(6, 6);
  	-webkit-animation-duration: 90s;
  	-moz-animation-duration: 90s;
  	-ms-animation-duration: 90s;
  	-o-animation-duration: 90s;
  	animation-duration: 90s;
    z-index: 9;
 	opacity: 0.95; 
}
.cloud div {
  	-moz-box-shadow: inset -2px -3px 0 0 #f7e7eb;
  	-webkit-box-shadow: inset -2px -3px 0 0 #f7e7eb;
  	box-shadow: inset -2px -3px 0 0 #f7e7eb;
  	position: absolute;
  	border-radius: 50%;
  	width: 12px;
  	height: 12px;
  	left: -3px;
  	bottom: 0;
  	background: #fafbf0;
  	z-index: 10;
}
.cloud div:first-child + div {
  	-moz-transform: scale(1.6, 1.6);
  	-ms-transform: scale(1.6, 1.6);
  	-webkit-transform: scale(1.6, 1.6);
  	transform: scale(1.6, 1.6);
  	margin: 0 0 4px 13px;
  	z-index: 9;
}
.cloud div:first-child + div + div {
  	-moz-transform: scale(2.4, 2.4);
  	-ms-transform: scale(2.4, 2.4);
  	-webkit-transform: scale(2.4, 2.4);
  	transform: scale(2.4, 2.4);
  	margin: 0 0 9px 32px;
  	z-index: 8;
}
.cloud div:first-child + div + div + div {
  	-moz-transform: scale(1.3, 1.3);
  	-ms-transform: scale(1.3, 1.3);
  	-webkit-transform: scale(1.3, 1.3);
  	transform: scale(1.3, 1.3);
  	margin: 0 0 2px 50px;
  	z-index: 7;
}

@-webkit-keyframes clouds {
  	0% {
    	left: -100%;
  	}
  	100% {
    	left: 120%;
  	}
}
@-moz-keyframes clouds {
  	0% {
    	left: -100%;
  	}
  	100% {
    	left: 120%;
  	}
}
@-ms-keyframes clouds {
  	0% {
    	left: -100%;
  	}
  	100% {
    	left: 120%;
  	}
}
@keyframes clouds {
  	0% {
  	  left: -100%;
  	}
  	100% {
  	  left: 120%;
  	}
}



pre[class*="language-"] {
    margin: 20px;
}