.birdAlert .container-birdAlert {
	width: auto;
	background: #fff;
	/*box-shadow: 1px 1px 7px rgba(100,100,100,0.6);*/
	padding: .75rem 1.25rem;
	margin-bottom: 10px;
	text-align: left;
	-webkit-transition: 0.7s ease-in-out; 
	   -moz-transition: 0.7s ease-in-out; 
		 -o-transition: 0.7s ease-in-out;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
}

.birdAlert .container-birdAlert .close-birdAlert {
	position: absolute;
    right: 10px;
    font-size: 28px;
    top: -3px;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace !important;
    font-style: normal;
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.birdAlert .container-birdAlert .close-birdAlert:hover {
	opacity: 0.5;
}

.birdAlert .container-birdAlert .title-birdAlert {
	font-size: 28px;
	margin-bottom: 7px;
	font-weight: normal;
}

/**
 * Mensages class
 */
.birdAlert .container-birdAlert.success {
	color: #3a660e;
	background-color: #a4e265;
	border-color: #60a917;
}

.birdAlert .container-birdAlert.error {
	color: #8f251f;
	background-color: #ffa8a4;
	border-color: #CE352C;
}

.birdAlert .container-birdAlert.warning {
	color: #a77107;
	background-color: #ffd47e;
	border-color: #f0a30a;
}

.birdAlert .container-birdAlert.info {
	color: #13709e;
	background-color: #8fd7fb;
	border-color: #1ba1e2;
}